<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="left">
    <div class="col-md-2">
            <div th:if="${session.loginAdmin.power eq 0}">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a th:href="@{/admin/queryAdminByStatus(pageNum=1,pageSize=4)}">管理员/审核人员</a>
                    </li>
                    <li>
                        <a th:href="@{/user/queryAll(pageNum=1,pageSize=4)}">用户管理</a>
                    </li>
                </ul>
            </div>
            <div th:if="${session.loginAdmin.power eq 1}">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a th:href="@{/admin/toUpload}">上传题目</a>
                    </li>
                </ul>
            </div>
            <div th:if="${session.loginAdmin.power ne 0}">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a th:href="@{/test1/queryAllTest1(pageNum=1,pageSize=4)}">审核test1题目</a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a th:href="@{/test2/queryAllTest2(pageNum=1,pageSize=4)}">审核test2题目</a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a th:href="@{/test3/queryAllTest3(pageNum=1,pageSize=4)}">审核test3题目</a>
                    </li>
                </ul>
            </div>
    </div>
</div>
</body>
</html>