<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingchuang.dao.AdminNumMapper">
    <select id="queryAdminNum" resultType="Integer">
        select adminNum FROM adminnum where id=1
    </select>

    <update id="updateAdminNum">
        UPDATE adminnum SET adminNum=adminNum+1
    </update>
</mapper>  