<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingchuang.dao.AdminMapper">

    <!--添加一条-->
    <insert id="addAdmin" parameterType="Admin">
        INSERT INTO admin VALUE (0,#{adminName},#{apassword},#{power},now(),#{adminCode},0)
    </insert>

    <!--修改状态byId-->
    <update id="updateAdminStatusById" parameterType="Admin">
        UPDATE admin SET status=#{status} WHERE id=#{id}
    </update>

    <!--修改权限byId-->
    <update id="updateAdminPowerById" parameterType="Admin">
        UPDATE admin SET power=#{power} WHERE id=#{id}
    </update>

    <!--查询所有by激活状态-->
    <select id="queryAdminByStatus" resultType="com.yingchuang.entity.Admin">
        SELECT * FROM admin where status=0 order by id desc
    </select>
    
    <select id="login" parameterType="String" resultType="com.yingchuang.entity.Admin">
        SELECT * FROM admin where adminName=#{adminName} and apassword=#{apassword}
    </select>

    <select id="queryAdminById" resultType="com.yingchuang.entity.Admin" parameterType="Integer">
        select * from admin where id = #{id}
    </select>
</mapper>