<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingchuang.dao.Test1Mapper">
    <resultMap id="testmap" type="Test1">
        <id column="id" property="id"></id>
        <result column="question" property="question"></result>
        <result column="answerA" property="answerA"></result>
    </resultMap>
    



    <insert id="addTest1" parameterType="Test1">
        INSERT INTO test1 VALUES(0,#{question},#{answerA},#{answerB},#{answerC},#{answerD},#{rightAnswer},0,0,#{power},#{questionCode})
    </insert>

    <update id="updateStatus" parameterType="Test1">
        UPDATE test1 SET STATUS=#{status},adminId=#{adminId} WHERE id=#{id}
    </update>

    <update id="updatePower" parameterType="Test1">
        UPDATE test1 SET power=#{power} WHERE id=#{id}
    </update>

    <select id="queryTest1ByStatus" parameterType="Test1" resultType="com.yingchuang.entity.Test1">
        SELECT * FROM test1 WHERE STATUS=#{status}
        <if test="power != null and power != ''">
            and power = #{power}
        </if>
        <if test="id!=null and id !=''">
            and id =#{id}
        </if>
    </select>

    <select id="queryTest1ById" parameterType="Integer" resultType="com.yingchuang.entity.Test1">
        SELECT *  FROM test1  WHERE  id=#{id}
    </select>


    <select id="queryAllTest1" resultMap="testmap">
        SELECT * FROM test1 ORDER BY id DESC
      </select>

    <select id="queryTest1ByPower" parameterType="integer" resultMap="testmap">
        SELECT * FROM test1 WHERE status=1 and POWER=#{power}
        <if test="id!=null and id !=''">
            and id = #{id}
        </if>

    </select>

</mapper>