<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingchuang.dao.Test2Mapper">
    <resultMap id="testmap" type="Test2">
        <id column="id" property="id"></id>

    </resultMap>




    <insert id="addTest2" parameterType="Test2">
        INSERT INTO test2 VALUES(0,#{question},#{answerA},#{answerB},#{answerC},#{answerD},#{rightAnswer},0,0,#{power},#{questionCode})
    </insert>

    <update id="updateStatus" parameterType="Test2">
        UPDATE test2 SET STATUS=#{status},adminId=#{adminId} WHERE id=#{id}
    </update>

    <update id="updatePower" parameterType="Test2">
        UPDATE test2 SET power=#{power} WHERE id=#{id}
    </update>

    <select id="queryTest2ByStatus" parameterType="Test2" resultType="com.yingchuang.entity.Test2">
        SELECT * FROM test2  WHERE  STATUS=#{status}
        <if test="power!=null and power!=''">
            AND power =#{power}
        </if>
        <if test="id!=null and id !=''">
            and id =#{id}
        </if>
    </select>

    <select id="queryTest2ById" parameterType="Integer" resultType="com.yingchuang.entity.Test2">
        SELECT *  FROM test2  WHERE  id=#{id}
    </select>


    <select id="queryAllTest2" resultMap="testmap">
        SELECT * FROM test2 ORDER BY id DESC
    </select>


    <select id="queryTest2ByPower" parameterType="integer" resultMap="testmap">
        SELECT * FROM test2 WHERE status=1 and POWER=#{power}
        <if test="id!=null and id !=''">
            and id = #{id}
        </if>
    </select>

</mapper>